---
layout: post
title: Studying the Masters
date: June 2022
---

<p>
    <span class="dropcap">M</span>asters studies are, well, just that - studying a painting from an accomplished artist instead of a photograph or observation. By focusing on how the master achieved effects, such as their brushstrokes, how they abstract shapes, their use of colors and temperatures, etc, I learn much more quickly. The below is my study of <a href="https://cdaartauction.com/auction/2012/lot/17541?order=artist" target="_blank">Clyde Aspevig's Alpine Lake</a> completed in March 2019.
</p>
<!-- <p class="flex-row">
    <%- include('partials/post-image', {imgpath: "/image/art/digital/study_alpine-lake_2019.jpg", imgsize: "half", caption: "Final rendering."}) %>
    <%- include('partials/post-image', {imgpath: "/image/posts/2022-06-19_studying-the-masters/study_alpine-lake_2019_timelapse.gif", imgsize: "half", caption: "Process timelapse."}) %>
</p> -->

<div class="post-content-two-items">
    <%- include('partials/post-image', {imgpath: "/image/posts/2022-06-19_studying-the-masters/study_alpine-lake_2019_timelapse.gif", caption: "Process timelapse."}) %>
    <%- include('partials/post-image', {imgpath: "/image/art/digital/study_alpine-lake_2019.jpg", caption: "Final rendering."}) %>
</div>

<p><a href="https://jrozalski.com/projects/aXLOJ" target="_blank">Jakub Rozalski's Reap</a> was a fun study that pushed me to learn a different style than I had attempted before. I feel like I captured the essence of the piece pretty well, and did a decent job at getting the values correct. This piece took about 12 hours in total, but I started it in 2019 or so and finally picked it back up in 2022 (top final image, bottom timelapse).</p>

<div class="post-content-two-items">
    <%- include('partials/post-image', {imgpath: "/image/posts/2022-06-19_studying-the-masters/study_reap_2022_timelapse.gif", caption: "Process timelapse."}) %>
    <%- include('partials/post-image', {imgpath: "/image/art/digital/study_reap_2022.jpg", caption: "Final rendering."}) %>
</div>


