---
layout: default
title: digital
---

<div class="home-featured-posts">
    <h1 class="bottom-border">Digital Art</h1>
    <p></p>
    <div class="featured-posts-wrapper">
        <%- include('partials/post-preview-block', {title: "Seascape, 2016", url: "/image/art/digital/landscape_seascape_2016.jpg", image: "/image/art/digital/landscape_seascape_2016.jpg"}) %>
        <%- include('partials/post-preview-block', {title: "Desert Storm, 2017", url: "/image/art/digital/landscape_desert-storm_2017.jpg", image: "/image/art/digital/landscape_desert-storm_2017.jpg"}) %>
        <%- include('partials/post-preview-block', {title: "Forest Triptych, 2017", url: "/image/art/digital/landscape_forest-triptych_2017.jpg", image: "/image/art/digital/landscape_forest-triptych_2017.jpg"}) %>
        <%- include('partials/post-preview-block', {title: "Study: Alpine Lake by Clyde Aspevig, 2019", url: "/image/art/digital/study_alpine-lake_2019.jpg", image: "/image/art/digital/study_alpine-lake_2019.jpg"}) %>
        <%- include('partials/post-preview-block', {title: "Study: Reap by Jakub Rozalski, 2022", url: "/image/art/digital/study_reap_2022.jpg", image: "/image/art/digital/study_reap_2022.jpg"}) %>
    </div>
</div>