---
layout: default
title: inks
---

<div class="home-featured-posts">
    <h1 class="bottom-border">Ink Drawings</h1>
    <p></p>
    <div class="featured-posts-wrapper">
        <%- include('partials/post-preview-block', {title: "Inktober Selections, 2018", url: "/image/art/inks/inktober-selections_2018.jpg", image: "/image/art/inks/inktober-selections_2018.jpg", coords: "0 60%"}) %>
        <%- include('partials/post-preview-block', {title: "Inktober Selections, 2019", url: "/image/art/inks/inktober-selections_2019.jpg", image: "/image/art/inks/inktober-selections_2019.jpg", coords: "0 0"}) %>
        <%- include('partials/post-preview-block', {title: "Inktober Selections, 2020", url: "/image/art/inks/inktober-selections_2020.jpg", image: "/image/art/inks/inktober-selections_2020.jpg", coords: "0 100%"}) %>
        <%- include('partials/post-preview-block', {title: "Inktober Selections, 2021", url: "/image/art/inks/inktober-selections_2021.jpg", image: "/image/art/inks/inktober-selections_2021.jpg", coords: "0 10%"}) %>
        <%- include('partials/post-preview-block', {title: "Mirror Knight, 2022", url: "/image/art/inks/mirror-knight_2022.jpg", image: "/image/art/inks/mirror-knight_2022.jpg", coords: "0 0"}) %>
    </div>
</div>