---
layout: default
title: inks
---

<div class="post-card-gallery">
    <h1 class="bottom-border">Ink Drawings</h1>
    <p></p>
    <div class="featured-posts-wrapper">
        <%- include('partials/featured-post-card', {title: "Inktober Selections, 2018", url: "/image/art/inks/inktober-selections_2018.jpg", image: "/image/art/inks/inktober-selections_2018_thumb.jpg"}) %>
        <%- include('partials/featured-post-card', {title: "Inktober Selections, 2019", url: "/image/art/inks/inktober-selections_2019.jpg", image: "/image/art/inks/inktober-selections_2019_thumb.jpg"}) %>
        <%- include('partials/featured-post-card', {title: "Inktober Selections, 2020", url: "/image/art/inks/inktober-selections_2020.jpg", image: "/image/art/inks/inktober-selections_2020_thumb.jpg"}) %>
        <%- include('partials/featured-post-card', {title: "Inktober Selections, 2021", url: "/image/art/inks/inktober-selections_2021.jpg", image: "/image/art/inks/inktober-selections_2021_thumb.jpg"}) %>
        <%- include('partials/featured-post-card', {title: "Mirror Knight, 2022", url: "/image/art/inks/mirror-knight_2022.jpg", image: "/image/art/inks/mirror-knight_2022_thumb.jpg"}) %>
    </div>
</div>