<nav class="desktop-nav">
    <a href="/" class="no-underline shadows <%= page.title == 'home' ? 'active' : '' %>">home</a>
    <a href="/projects" class="no-underline shadows <%= page.title == 'projects' ? 'active' : '' %>">projects</a>
    <a href="/art" class="no-underline shadows <%= page.title == 'art' ? 'active' : '' %>">art</a>
    <a href="/posts/<%= site.latest %>" class="no-underline shadows <%= page.layout == 'post' ? 'active' : '' %>">blog</a>
    <a href="/resume" class="no-underline shadows <%= page.title == 'resume' ? 'active' : '' %>">résumé</a>
</nav>