<nav class="new-nav">
    <a href="/" class="no-underline shadows <%= page.title == 'home' ? 'active' : '' %>">home</a>
    <a href="/projects" class="no-underline shadows <%= page.title == 'projects' ? 'active' : '' %>">projects</a>
    <a href="/art" class="no-underline shadows <%= page.title == 'art' ? 'active' : '' %>">art</a>
    <a href="/blog" class="no-underline shadows <%= page.title == 'blog' ? 'active' : '' %>">blog</a>
    <a href="/resume" class="no-underline shadows <%= page.title == 'resume' ? 'active' : '' %>">résumé</a>
</nav>