<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="container">
    <section>
      <div class="row">
        <div class="twelve columns">
          <%- include('partials/logo-header') %>
          <%- include('partials/new-nav') %>
          <%- body %>
        </div>
      </div>
    </section>
  </div>
  <%- include('partials/footer') %>


  <%- include('partials/scripts') %>
  <!-- Homepage Animation -->
  <script type="text/javascript">

    const inputElement = document.getElementById('animation-input');
    const message = "Developer. Writer. Artist.";
    let count = 0;

    const animation = setInterval(function(){
        inputElement.value = message.slice(0, count);
        if(count >= message.length){
            clearInterval(animation);
            inputElement.classList.add('fadeToWhite');
        } else {
            count++;
        }
    }, 125);

  </script>
</body>
</html>