<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="container">
    <section>
      <div class="row">
        <div class="twelve columns">
          <%- include('partials/new-nav') %>
          <%- body %>
        </div>
      </div>
    </section>
  </div>
  <%- include('partials/footer') %>


  <%- include('partials/scripts') %>

</body>
</html>